* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: auto;
}

.wrapper {
  width: auto;
  padding: 2rem 9%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 30px;
  color: #333;
  font-weight: bolder;
  font-family: "Radley";
  font-style: italic;
  text-decoration: none;
}

.col {
  float: none;
  width: 50%;
  padding: 10px;
}

.logo span {
  color: #ff69b4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  top: 2px;
}

.navbar a {
  font-size: 18px;
  font-weight: bolder;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a:hover {
  color: #eaacb4;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
  }
}

.wrapper p {
  margin: 50px 0;
  width: auto;
}

.kim-image {
  max-width: 320px;
  float: left;
  border-radius: 50%;
  margin-right: 10%;
}

.text-box h1 {
  font-size: 50px;
  font-family: "Inter";
  font-weight: bolder;
  text-transform: capitalize;
  color: black;
}
.text-box h2 span {
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter";
  text-transform: capitalize;
  color: #ff69b4;
}

.text-box h2 {
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter";
  color: black;
}

.text-box p {
  font-size: 16px;
  font-family: "Inter";
}

.button {
  margin-top: 30px;
  background: #ff69b4;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-family: "Inter";
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.button:hover {
  background: transparent;
  border: 2px solid #ff69b4;
  cursor: pointer;
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  .wrapper {
    width: auto;
    padding: 15rem 9%;
  }

  .kim-image {
    padding-bottom: 20px;
  }

  .wrapper h1 {
    padding-top: 30px;
  }
  .wrapper h1,
  h2 {
    text-align: center;
  }
}
